<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.springbootex.ecommerce.mapper.UserMapper">
    <select id="findAll" resultType="kr.co.springbootex.ecommerce.dto.UserDTO">
        SELECT * FROM users
    </select>
    <select id="findById" parameterType="long" resultType="kr.co.springbootex.ecommerce.dto.UserDTO">
        SELECT
            id,
            name,
            email
        FROM users
        WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="kr.co.springbootex.ecommerce.dto.UserDTO">
        insert into users(id, name, email) values(#{id}, #{name}, #{email})
    </insert>
    <delete id="delete" parameterType="long">
        DELETE FROM users
        WHERE id = #{id}
    </delete>
    <update id="update" parameterType="kr.co.springbootex.ecommerce.dto.UserDTO">
        UPDATE users
        SET name = #{name}, email = #{email}
        WHERE id = #{id}
    </update>
</mapper>